//colors
$color-primary: #7ab1ff;
$color-primary-light: #89f6fe;
$color-primary-dark: #3a9ba1;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

$color-gray-1: #333232;
$color-gray-2: #282828;
$color-gray-3: #535151;

//grid
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
