@import "../abstract/variables";
@import "../abstract/mixins";

.composition {
  &__photo {
    width: 80%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    transition: all 0.2s;
    outline-offset: 1.5rem;
    margin-top: 15%;

    @include respond(phone) {
      width: 20%;
      height: 250px;
    }

    @include respond(tab-port) {
      width: 60%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
      height: 350px;
    }

    &:hover {
      outline: 1rem solid $color-primary-light;
      transform: scale(1.05) translateY(1.5rem);
      z-index: 20;
    }
  }
}
